.listitems {
  list-style-type: none;
  width: 50%;
}
.singlecard {
  width: 250px;
  display: flex;
  align-items: center;
  background-color: #ffffff33;
  border: 1px solid white;
  padding-left: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 7px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 24px;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  height: 85%;
}
.teamname {
  color: white;
  font-size: 12px;
}
.image {
  height: 35px;
  width: 35px;
}
